body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #fff5e1;
}

h1 {
    color: #4A3F35;
}

.grid-container {
    display: grid;
    background-color: #FFDAB9;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 70vh;
    height: auto; 
    margin: auto;
    aspect-ratio: 1/1;
}

.square {
    position: relative;
    background-color: #A3D2CA;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.square.selected {
    outline: 7px solid #A3D2CA;
    outline-offset: -4px; 
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

#message {
    font-weight: bold;
    color: #4A3F35;
    text-align: center;
}

.button {
    margin-top: 20px;
    padding: 10px;
    background-color: #FFB380;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #4A3F35;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: #ffB380;
    color: #4A3F35;
}

.button:hover {
  background-color: #ff9980;
  color: #ffffff;
}

.sprite-idle{
    width: 100px;
    height: 100px;
    background-image: url('spritesheet.png');
    background-position: 20 20;
    animation: idleAnimation 1s steps(4) infinite;
    margin: 20px auto;
}
@keyframes idleAnimation {
    100%{
        background-position: -128px 0;
    }
}
