body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #fff5e1;
}

h1 {
    color: #4A3F35;
}

.grid-container {
    display: grid;
    background-color: #FFDAB9;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 70vh;
    height: auto; 
    margin: auto;
    aspect-ratio: 1/1;
}

.square {
    position: relative;
    background-color: #A3D2CA;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.square.selected {
    outline: 7px solid #A3D2CA;
    outline-offset: -4px; 
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.square.match.selected {
    outline: none;
    border-radius: 10px;
}

.square .tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 210, 202, 0.6);
    color: #ffffff;
    word-wrap: break-word;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    pointer-events: none;
    text-transform: capitalize;
    
}

#message {
    font-weight: bold;
    color: #4A3F35;
    text-align: center;
}

.button {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    padding: 10px;
    background-color: #FFB380;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #4A3F35;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: #ffB380;
    color: #4A3F35;
}

.button:hover {
  background-color: #ff9980;
  color: #ffffff;
  font-weight: bold;
}

#newGameBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #A3D2CA;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #4A3F35;
}

#newGameBtn:hover {
  background-color: #77adad;
  color: #ffffff;
  font-weight: bold;
}

.catWalk {
    background-image: url(spritesheet_walk.png);
    background-repeat: no-repeat;
    display: block;
}

.catWalk-WALK {
    position: relative;
    z-index: 1;
    width: 64px;
    height: 64px;
    background-image: url(spritesheet_walk.png);
    background-repeat: no-repeat;
    transform: scaleX(-1) scale(1.75);
    margin-top: -40px;
    margin-left: -30px;
    animation: walkCycle 1s steps(12) infinite;
}

@keyframes walkCycle {
    from { background-position: 0px 0px; }
    to { background-position: -960px 0px; }
    
}

.catSleep {
    background-image: url(spritesheet_Sleep.png);
    background-repeat: no-repeat;
    display: block;
}

.catSleep-SLEEP {
    width: 58px;
    height: 60px;
    background-image: url(spritesheet_Sleep.png);
    background-repeat: no-repeat;
    transform: scale(1.75);
    margin-top: -20px;
    margin-left: -5px;
    animation: sleepCycle 1s steps(6) infinite;
}

@keyframes sleepCycle {
    from { background-position: 0px 0px; }
    to { background-position: -384px 0px;
    }
}

.title-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: -20px;
}
